<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALORANT</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.jpg">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="STYLE2.CSS">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>
<style>
    /* Modal */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #1e1d1d;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #141414;
        width: 20%;
        /* Could be more or less, depending on screen size */
        border-radius: 24px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: modalopen;
        /* Animation to open the modal */
        animation-duration: 0.4s;
        height: 130PX;
    }

    /* Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Modal Content Animation */
    @keyframes modalopen {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    /* Button */
    #goToCart {
        background-color: #4CAF50;
        /* Green */
        border: none;
        border-radius: 24PX;
        color: white;
        padding: 6px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-top: 10px;
        cursor: pointer;
    }

    #modalMessage {
        COLOR: WHITE;
        margin-top: 6%;
        font-size: 19PX;
        font-family: FREIGHT BIG PRO;
    }

    #goToCart:hover {
        background-color: RED;
        /* Darker green */
    }
</style>

<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalMessage">Continue Shopping!</p>
            <button id="goToCart" onclick="goToCart()" type="button">GO TO CART</button>
        </div>
    </div>
    <header>

        <a href="/" class="logo"><img src="/assets/riotlogo.png" width="300px" height="120px"></a>
        <a href="/" class="logo2"><img src="/assets/valolog.png" width="50px"></a>

        <u1 class="navigation">
            <li>
                <a class="active" href="featured">featured</a>
            </li>
            <li>
            <li>
                <a href="apparel">apparel&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="apparel"><span>SHOP ALL</span></a></li>
                    <li><a href="apparel#top">top</a></li>
                    <li><a href="apparel#bottom">bottoms</a></li>
                    <li><a href="apparel#hoo">Hoodie&jackets</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li>
                <a href="coll">collectibles&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="coll"><span>SHOP ALL</span></a></li>
                    <li><a href="coll#fig">Figures</a></li>
                    <li><a href="coll#sta">statue</a></li>
                    <li><a href="coll#pin">pin</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li>
                <a href="art">art&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="art#no"><span>SHOP ALL</span></a></li>
                    <li><a href="art#no">-</a></li>
                    <li><a href="art#no">-</a></li>
                    <li><a href="art#no">-</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li>
                <a href="acc">accesories&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="acc"><span>SHOP ALL</span></a></li>
                    <li><a href="acc#jew">jewellery</a></li>
                    <li><a href="acc#hat">hats & beanies</a></li>
                    <li><a href="acc#mug">Mugs</a></li>
                </ul>
            </li>
            </li>
            <li><a href="sale">Sales</a></li>
            <li><a href="cart" class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        </u1>
        <div class="search">
            <input type="text" class="search__input" placeholder="Search">
            <button class="search__button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </header>
    <section class="bg">
        <div class="data">
            <p>WV1</p>
            <p><span>COLLECTION</span></p>
        </div>
    </section>
    <section class="page2">
        <div class="cont">
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <% if (items && items.length> 0) { %>
                    <% for (let i=0; i < 1; i++) { %>
                        <% const item=items[i]; %>
                            <div class="col">

                                <div class="product-card">
                                    <div class="badge">Hot</div>
                                    <div class="product-tumb">
                                        <img src="https://images.contentstack.io/v3/assets/blt5bbf09732528de36/bltdcea26e57043fb3b/5fa35a6a24612d7400da2572/IGNITION_HDI_MAIN.png"
                                            alt="">
                                    </div>
                                    <div class="product-details">
                                        <span class="product-catagory">wv1 collection</span>
                                        <h4><a href="">Valorant Hoodie(UNISEX)</a></h4>
                                        <div class="product-bottom-details">
                                            <div class="product-price"><small>$90.00</small>$65.99</div>
                                            <div class="product-links">
                                                <form action="/update-cart" method="POST">
                                                    <input type="hidden" name="_id" value="<%= item._id %>">
                                                    <input type="hidden" name="name" value="<%= item.name %>">
                                                    <input type="hidden" name="price" value="<%= item.price %>">
                                                    <!-- Other item details as needed -->
                                                    <button type="submit" class="cart-button"><i
                                                            class="fa fa-shopping-bag"></i></button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <!-- Handle case where items array is empty or undefined -->
                                    <p>No items found</p>
                                    <% } %>


                                        <% if (items && items.length> 0) { %>
                                            <% for (let i=1; i < 2; i++) { %>
                                                <% const item=items[i]; %>
                                                    <div class="col">

                                                        <div class="product-card">
                                                            <div class="badge">Out of Stock</div>
                                                            <div class="product-tumb">
                                                                <img src="https://images.contentstack.io/v3/assets/blt5bbf09732528de36/bltd77217b94b11661f/5fa35b7cffb61e50a0fa98db/CHARACTERTEE_WV1_Main.png"
                                                                    alt="">
                                                            </div>
                                                            <div class="product-details">
                                                                <span class="product-catagory">wv1 collection</span>
                                                                <h4><a href="">VALORANT Agents Tee(Unisex)</a></h4>
                                                                <div class="product-bottom-details">
                                                                    <div class="product-price">
                                                                        <small>$40.00</small>$30.00</div>
                                                                    <div class="product-links">
                                                                        <form action="/update-cart" method="POST">
                                                                            <input type="hidden" name="_id"
                                                                                value="<%= item._id %>">
                                                                            <input type="hidden" name="name"
                                                                                value="<%= item.name %>">
                                                                            <input type="hidden" name="price"
                                                                                value="<%= item.price %>">
                                                                            <!-- Other item details as needed -->
                                                                            <button type="submit" class="cart-button"><i
                                                                                    class="fa fa-shopping-bag"></i></button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <!-- Handle case where items array is empty or undefined -->
                                                            <p>No items found</p>
                                                            <% } %>
                                                                <% if (items && items.length> 0) { %>
                                                                    <% for (let i=2; i < 3; i++) { %>
                                                                        <% const item=items[i]; %>
                                                                            <div class="col">

                                                                                <div class="product-card">
                                                                                    <div class="badge">Out of Stock
                                                                                    </div>
                                                                                    <div class="product-tumb">
                                                                                        <img src="https://images.contentstack.io/v3/assets/blt5bbf09732528de36/blte02ed61c95b18e61/5fa35ac709ed4c6f277ea279/wv1_hdi.png"
                                                                                            alt="">
                                                                                    </div>
                                                                                    <div class="product-details">
                                                                                        <span
                                                                                            class="product-catagory">wv1
                                                                                            collection</span>
                                                                                        <h4><a href="">VALORANT PRTCL
                                                                                                Hoodie(Unisex)</a></h4>
                                                                                        <div
                                                                                            class="product-bottom-details">
                                                                                            <div class="product-price">
                                                                                                <small>$70.00</small>$65.00
                                                                                            </div>
                                                                                            <div class="product-links">
                                                                                                <form
                                                                                                    action="/update-cart"
                                                                                                    method="POST">
                                                                                                    <input type="hidden"
                                                                                                        name="_id"
                                                                                                        value="<%= item._id %>">
                                                                                                    <input type="hidden"
                                                                                                        name="name"
                                                                                                        value="<%= item.name %>">
                                                                                                    <input type="hidden"
                                                                                                        name="price"
                                                                                                        value="<%= item.price %>">
                                                                                                    <!-- Other item details as needed -->
                                                                                                    <button
                                                                                                        type="submit"
                                                                                                        class="cart-button"><i
                                                                                                            class="fa fa-shopping-bag"></i></button>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
            </div>
            <% } %>
                <% } else { %>
                    <!-- Handle case where items array is empty or undefined -->
                    <p>No items found</p>
                    <% } %>




                        <div class="row" data-aos="fade-up" data-aos-duration="1000">
                            <% if (items && items.length> 0) { %>
                                <% for (let i=3; i < 4; i++) { %>
                                    <% const item=items[i]; %>
                                        <div class="col">

                                            <div class="product-card">
                                                <div class="badge1">retired</div>
                                                <div class="product-tumb">
                                                    <img src="https://images.contentstack.io/v3/assets/blt5bbf09732528de36/blt94b7347cbeccc562/5fa35b0772a3526f28db8f0d/wv1_hdi_zip.png"
                                                        alt="">
                                                </div>
                                                <div class="product-details">
                                                    <span class="product-catagory">wv1 collection</span>
                                                    <h4><a href="">VALORANT PRTCL Zip-Up Hoodie (Unisex)</a></h4>
                                                    <div class="product-bottom-details">
                                                        <div class="product-price"><small>$70.00</small>$65.00</div>
                                                        <div class="product-links">
                                                            <form action="/update-cart" method="POST">
                                                                <input type="hidden" name="_id" value="<%= item._id %>">
                                                                <input type="hidden" name="name"
                                                                    value="<%= item.name %>">
                                                                <input type="hidden" name="price"
                                                                    value="<%= item.price %>">
                                                                <!-- Other item details as needed -->
                                                                <button type="submit" class="cart-button"><i
                                                                        class="fa fa-shopping-bag"></i></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% } else { %>
                                                <!-- Handle case where items array is empty or undefined -->
                                                <p>No items found</p>
                                                <% } %>
                                                    <% if (items && items.length> 0) { %>
                                                        <% for (let i=4; i < 5; i++) { %>
                                                            <% const item=items[i]; %>
                                                                <div class="col">

                                                                    <div class="product-card">
                                                                        <div class="badge">hot</div>
                                                                        <div class="product-tumb">
                                                                            <img src="https://images.contentstack.io/v3/assets/blt5bbf09732528de36/blt3dbe6bf22ad65b37/5fa35b486f82405d9a4a93b2/wv1_blacktee.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="product-details">
                                                                            <span class="product-catagory">wv1
                                                                                collection</span>
                                                                            <h4><a href="">VALORANT PRTCL Tee
                                                                                    (Unisex)</a></h4>
                                                                            <div class="product-bottom-details">
                                                                                <div class="product-price">
                                                                                    <small>$35.00</small>$30.00</div>
                                                                                <div class="product-links">
                                                                                    <form action="/update-cart"
                                                                                        method="POST">
                                                                                        <input type="hidden" name="_id"
                                                                                            value="<%= item._id %>">
                                                                                        <input type="hidden" name="name"
                                                                                            value="<%= item.name %>">
                                                                                        <input type="hidden"
                                                                                            name="price"
                                                                                            value="<%= item.price %>">
                                                                                        <!-- Other item details as needed -->
                                                                                        <button type="submit"
                                                                                            class="cart-button"><i
                                                                                                class="fa fa-shopping-bag"></i></button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                                    <% } else { %>
                                                                        <!-- Handle case where items array is empty or undefined -->
                                                                        <p>No items found</p>
                                                                        <% } %>
                        </div>
                        <div class="row" id="no" data-aos="fade-up" data-aos-duration="2000">
                            <p>NO MORE TO LOAD</p>
                        </div>
        </div>

    </section>
    <section class="footer">
        <div class="bar">
            <div class="nav">
                <li>
                    <a href="#" class="bar1">DOWNLOAD GAME CLIENT</a>
                </li>
                <li><a href="#" class="bar2">DOWNLOAD RIOT MOBILE COMPANION APP</a>
                </li>
            </div>
        </div>
        <div class="icons">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </div>
        <div class="logologo">
            <div class="i1"><img src="/assets/riotlogosmall-removebg-preview.png"></div>
            <div class="i2"><img src="/assets/val-logo-small.png" class="i2"></div>
        </div>
        <div class="cp">
            <center>
                <p2>&#169; RIOT GAMES, INC. RIOT GAMES, VALORANT AND ANY ASSOCIATED LOGOS ARE TRADEMARKS,<BR>SERVICE
                    MARKS,
                    AND/OR REGISTERED TRADEMARKS OF RIOT, INC.</p2>
            </center>
        </div>
        <div class="nav2">
            <li>
                <a href="#" class="ba1">PRIVACY NOTICE</a>
            </li>
            <li><a href="#" class="ba2">TERMS OF SERVICE</a>
            </li>
            <li><a href="#" class="ba3">COOKIE PREFERENCES</a>
            </li>
        </div>
        <div class="last">
            <img src="/assets/blood-langages.png">
        </div>
    </section>
    <script src="/resources/js/app.js"></script>

    <script>
        document.querySelector('.cart-button').addEventListener('click', function () {
            // Display the modal
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
        });

        // Function to close the modal when clicking on the close button
        document.querySelector('.close').addEventListener('click', function () {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        });

        // Function to close the modal when clicking anywhere outside of it
        window.addEventListener('click', function (event) {
            var modal = document.getElementById("myModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });

        // Function to handle going back to the home screen
        function goToHome() {
            window.location.href = "featured"; // Change "home" to the actual URL of your home screen
            clearCart();
        }
    </script>
    <script>
        function addToCart(product) {
            // Prevent default form submission behavior
            event.preventDefault();

            // Retrieve cart items from local storage
            let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
            // Add the product to the cart
            cartItems.push(product);
            // Store updated cart items in local storage
            localStorage.setItem('cartItems', JSON.stringify(cartItems));
            // Show the modal
            var modal = document.getElementById("myModal");
            modal.style.display = "flex";
        }
        document.getElementById("goToCart").onclick = function (event) {
            event.preventDefault(); // Prevent the default form submission behavior
            window.location.href = "cart"; // Change "cart" to the actual URL of your cart page
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }

    </script>
    <script>
        AOS.init({
            duration: 1700,
        })

    </script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
        integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"
        integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

</html>